Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add: [modernize-*,
        # Additional checks
        # bugprone-*,
        # clang-analyzer-*,
        # cppcoreguidelines-*,
       ]
    Remove: [modernize-use-nullptr]
    CheckOptions:
      readability-identifier-naming.VariableCase: CamelCase
Hover:
  ShowAKA: Yes
Index:
  Background: Build
  StandardLibrary: Yes