Diagnostics:
  ClangTidy:
    Add: [
        # Additional checks
        # modernize-*,
        # bugprone-*,
        # clang-analyzer-*,
        # cppcoreguidelines-*,
        readability-identifier-naming
       ]
    Remove: [modernize-use-nullptr, modernize-use-auto, modernize-loop-convert, 
            modernize-use-using, modernize-use-nodiscard,modernize-use-trailing-return-type]
    CheckOptions:
      readability-identifier-naming.VariableCase: camelBack
Hover:
  ShowAKA: Yes
Index:
  Background: Build
  StandardLibrary: Yes