# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Additional ignored files
.obj
compile_commands.json
prod_webserv
webserv
.cache
run_tests
docs/html
docs/latex
.build
docs/doxygen/html
docs/doxygen/xml
docs/sphinx/build
docs/sphinx/source/api
.vscode
.DS_Store
assets/bible.txt
tester
assets/Personal-Website
assets/inception
# YoupiBanane/
assets/web
cgi_tester
posts/
assets/upload/cgi-bin/files
assets/upload/files
